*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
p {
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #eee;
  font-family: system-ui;
}

.wrapper {
  width: min(95%, 64rem);
  min-height: 100vh;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2.5rem;
}

.paragraph {
  padding: 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: #333;
  background-color: #bababa;
  box-shadow: 0 5px 14px 1px rgba(51, 51, 51, 0.4);
}
@media (max-width: 450px) {
  .paragraph {
    padding: 1rem;
    font-size: 1rem;
  }
}
.paragraph + .paragraph {
  background-color: #333;
  color: #eee;
}

/*# sourceMappingURL=styles.css.map */
