@use "sass:map";

$breakpoints: (
  small: 450px,
  medium: 768px,
  large: 1024px,
  x-large: 1200px,
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);
  @media (max-width: $size) {
    @content;
  }
}
