@use "../utilities/variables" as *;
@use "../utilities/functions" as f;
@use "breakpoints" as m;

html {
  font-size: 16px;
}

body {
  background-color: $color-light;
  font-family: $main-font;
}

.wrapper {
  width: Min(95%, f.rem(1024px));
  min-height: 100vh;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: $base * 2.5;
}

.paragraph {
  padding: $base * 2;
  border-radius: f.rem(8px);
  font-size: $base * 1.5;
  color: $color-dark;
  background-color: $color-box-light;
  box-shadow: 0 5px 14px 1px rgba($color-dark, 0.4);

@include m.mq(small) {
  padding: $base;
  font-size: $base;
}

  & + {
    .paragraph {
        background-color: $color-dark;
        color: $color-light;
    }
  }
}
